openapi: 3.0.3
info:
  title: FLIGHTISH GLOBAL Travel Services API
  description: Enterprise-grade API for flights, hotels, insurance, loans, and travel management
  version: 3.0.0
  contact:
    name: FLIGHTISH GLOBAL API Support
    email: support@flightishglobal.com
    url: https://www.flightishglobal.com
  license:
    name: Proprietary
    url: https://www.flightishglobal.com/terms

servers:
  - url: https://api.flightishglobal.com
    description: Production server
  - url: https://sandbox.flightishglobal.com
    description: Sandbox server for testing
  - url: https://staging.flightishglobal.com
    description: Staging server

tags:
  - name: Authentication
    description: API key and OAuth 2.0 management
  - name: Flights
    description: Flight search, booking, and management
  - name: Hotels
    description: Hotel search, booking, and reservations
  - name: Insurance
    description: Travel insurance quotes and policies
  - name: Loans
    description: Travel loan applications and management
  - name: Documents
    description: Travel document storage and management
  - name: AI Services
    description: AI-powered recommendations and analytics
  - name: Payments
    description: Payment processing and refunds
  - name: Reference Data
    description: Static reference data
  - name: Configuration
    description: API configuration

paths:
  /v3/auth/token:
    post:
      tags:
        - Authentication
      summary: Get OAuth 2.0 Access Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
                  enum: [client_credentials]
      responses:
        '200':
          description: Token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer

  /v3/flights/search:
    post:
      tags:
        - Flights
      summary: Search Flights
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                origin:
                  type: string
                destination:
                  type: string
                departureDate:
                  type: string
                  format: date
                returnDate:
                  type: string
                  format: date
                passengers:
                  type: integer
      responses:
        '200':
          description: Flight results

  /v3/flights/book:
    post:
      tags:
        - Flights
      summary: Book Flight
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Booking confirmed

  /v3/insurance/quotes:
    post:
      tags:
        - Insurance
      summary: Get Insurance Quotes
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tripType:
                  type: string
                destination:
                  type: string
                departureDate:
                  type: string
                  format: date
                returnDate:
                  type: string
                  format: date
                travelers:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Insurance quotes

  /v3/insurance/policies:
    post:
      tags:
        - Insurance
      summary: Purchase Insurance Policy
      security:
        - ApiKeyAuth: []
      responses:
        '201':
          description: Policy created

  /v3/loans/applications:
    post:
      tags:
        - Loans
      summary: Submit Loan Application
      security:
        - ApiKeyAuth: []
      responses:
        '201':
          description: Application submitted

  /v3/loans/status/{id}:
    get:
      tags:
        - Loans
      summary: Check Loan Status
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan status

  /v3/documents/upload:
    post:
      tags:
        - Documents
      summary: Upload Travel Document
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Document uploaded

  /v3/documents/{id}:
    get:
      tags:
        - Documents
      summary: Get Document
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document retrieved

  /api-configuration:
    get:
      tags:
        - Configuration
      summary: Get API Configuration
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Configuration retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                  whitelistIPs:
                    type: array
                    items:
                      type: string
                  hotelVersion:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /hms/v1/hotel-searchquery-list:
    post:
      tags:
        - Hotel Search
      summary: Search Hotels
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelSearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /hms/v1/hotel-book:
    post:
      tags:
        - Hotel Booking
      summary: Book a Hotel
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelBookingRequest'
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingConfirmation'
        '400':
          $ref: '#/components/responses/BadRequestError'

  /reference/nationalities:
    get:
      tags:
        - Reference Data
      summary: Get Nationalities
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Nationalities list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Nationality'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey

  schemas:
    HotelSearchRequest:
      type: object
      required:
        - checkinDate
        - checkoutDate
        - roomInfo
      properties:
        checkinDate:
          type: string
          format: date
        checkoutDate:
          type: string
          format: date
        roomInfo:
          type: array
          items:
            type: object
            properties:
              numberOfAdults:
                type: integer
              numberOfChild:
                type: integer

    HotelSearchResponse:
      type: object
      properties:
        success:
          type: boolean
        hotels:
          type: array
          items:
            type: object

    HotelBookingRequest:
      type: object
      required:
        - hotelId
        - roomId
        - guestInfo
      properties:
        hotelId:
          type: string
        roomId:
          type: string
        guestInfo:
          type: object

    BookingConfirmation:
      type: object
      properties:
        bookingId:
          type: string
        confirmationNumber:
          type: string
        status:
          type: string

    Nationality:
      type: object
      properties:
        code:
          type: string
        name:
          type: string

  responses:
    UnauthorizedError:
      description: Invalid API key
    BadRequestError:
      description: Invalid request